/* header */
body {
    margin: 0;
}
ul li {
    list-style-type: none;
}

ul {
    display: flex;
}

ul li a {
    text-decoration: none;
    padding: 20px ;
    font-size: 20px;
    color: rgb(244, 244, 244);
    position: relative;
    top: 7px;
}

.wrap_header {
    display: flex;
    justify-content: center;
}

.header {
    background: #24b388;
    height: 50px;
}
/* main */
.main {
    display: flex;
    justify-content: center;
    height: 50%;
    margin-bottom: 50px;
}

.wrap_main {
    width: 70%;
    margin-top: 20px;
}
/* footer */
.footer {
    height: 50px;
    background: #0fa87a;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrap_footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
    color: rgb(231, 226, 226);
}

/* css add product */

.form_add input {
    margin-top: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* table */

/* tbody tr td {
    display: inline-block;
} */

/* login */
.login {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.wrapper-login {
    width: 50%;
    position: relative;
    text-align: center;
    top: 100px;
    border-radius: 4px;
    background: url('../../upload-img/Game4v-chainsaw-man-op-1665583049-98.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(14, 175, 234);
    font-size: 20px;
    font-weight: 600;
    height: 370px;
}

.text-align {
    margin-top: 10px;
}

.text-align .btn-primary {
    height: 30px;
}

.text-align input {
    border-radius: 4px;
    height: 30px;
    border: none;
    padding-bottom: 10px;
    padding-left: 5px;
}


.text-align .btn-primary {
    background: rgb(14, 175, 234);
    border: none;
    padding: 5px 10px;
    font-size: 15px;
}

.text-align a{
    text-decoration: none;
    color: rgb(14, 175, 234);
}
/* dashboard */
.wrrap_dashboard {
    padding: 30px 50px 30px 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

h1 {
    color: rgb(225, 145, 157);
}